{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div class="prof">
  <h1>Register Here</h1>
  <p>Enter details below: <span class="flash">*All Fields Mandatory*</span></p>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info alert-dismissable">
            
            {{message}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <hr />
  <table>
  <form action="{{ url_for('register') }}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <tr><td>First Name:</td> <td>{{ form.fname(placeholder="Enter First Name") }}</td>
    <td><div class="flash">
        {% for message in form.fname.errors %}
        {{ message }}
        {% endfor %}
    </div></td></tr>
    <tr><td>Last Name:</td> <td>{{ form.lname(placeholder="Enter Last Name") }}</td>
    <td><div class="flash">
        {% for message in form.lname.errors %}
        {{ message }}
        {% endfor %}
    </div></td></tr>
    <tr><td>Email:</td><td> {{ form.email(placeholder="Enter Email") }}</td>
    <td>{% for message in form.email.errors %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </td></tr>
    <tr><td>Email:</td><td> {{ form.confirme(placeholder="Confirm Email") }}</td>
    <td><div class="flash">
        {% for message in form.confirme.errors %}
        {{ message }}
        {% endfor %}
    </div></td></tr>
    <tr><td>Password: </td><td>{{ form.password(placeholder="Enter Password") }}</td>
    <td><div class="flash">
        {% for message in form.password.errors %}
        {{ message }}
        {% endfor %}
    </div></td></tr>
    <tr><td>Password: </td><td>{{ form.confirmp(placeholder="Confirm Password") }}</td>
    <td><div class="flash">
        {% for message in form.confirmp.errors %}
        {{ message }}
        {% endfor %}
    </div></td></tr>
    <tr><td>Age:</td><td> {{ form.age(placeholder="Ages 10 to 85") }}</td>
    <td><div class="flash">
        {% for message in form.age.errors %}
        {{ message }}
        {% endfor %}
    </div></td></tr>
    <tr><td>Sex: </td><td>{{ form.sex }}</td>
    <td><div class="flash">
        {% for message in form.sex.errors %}
        {{ message }}
        {% endfor %}
    </div></td></tr>
    <tr><td>Profile Photo:</td><td> {{ form.image }}</td>
    <td><div class="flash">
        {% for message in form.image.errors %}
        {{ message }}
        {% endfor %}
    </div></td></tr>
    <tr><td><input type="submit" value="Register"/></td><td colspan="2"><a href="{{url_for('signin')}}">Already have an Account? Sign In.</a></td></tr>
  </form>
  </table>
</div>
{% endblock %}
