{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
  <div class="body">
  <div id="images-cont" class="cont">
  <div class="head">
    <img src="{{ user['image'] }}" height="200" width="200" style="-webkit-border-top-left-radius: 10px;
      -moz-border-radius-topleft: 10px;
      border-top-left-radius: 10px;">
    <div class="profile_name">
      <h1>{{user['fname']}}  {{user['lname']}}</h1>
    </div>
  </div>
  <div id="images" class="p_content content">
    <div>
      <h1>Select your preferred Thumbnail from the list</h1>
      <table>
      <form action="/api/user/{{user['id']}}/wishlist" method=post>
      <input type="hidden" name="url" value="{{url}}"> 
      <tr><td><strong>Title:</strong></td><td> {{title}}</td></tr>
      <tr><td><strong>Edit Title:</strong></td><td><input type="text" name="title" value="{{title}}" style="width:550px;"></td></tr>
      <tr><td><strong>Description:</strong></td><td> {{description}}</td></tr>
      <tr><td><strong>Edit Description:</strong></td><td><textarea name="description" rows="5" cols="80" maxlength="199">{{description[0:199]}}</textarea></td></tr>
      {% for image in images[0:15] %}
        <tr><td><input type="radio" name="thumb" value="{{image}}"></td><td> <img src="{{image}}" height="150" width="200"></td></tr>
      {% endfor %}
      <tr><td colspan="2"><input type="submit" value="Confirm"/></td></tr>
      </form>
      </table>
    </div>
    <div>&nbsp;</div>
  </div>
  <div>&nbsp;</div>
  </div>
  </div>
{% endblock %}
