{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<!--<div class="prof">-->
  <div class="prof">
  <h1>Sign In Here</h1>
  <p>Enter details below:</p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info alert-dismissable">
          <a class="close" href="#">×</a>
            {{message}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <hr />
  <table style="width:80%;">
  <form action="{{ url_for('signin') }}" method="post">
    {{ form.hidden_tag() }}
    <tr><td>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        {{ form.email(placeholder="Enter Email", class_="form-control") }}                                       
    </div></td></tr>
    <tr><td><div class="lash">
        {% for message in form.email.errors %}
        {{ message }}
        {% endfor %}
    </div></td></tr>
    
    <tr><td><div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ form.password(placeholder="Enter Password", class_="form-control") }}
            </div></td></tr>
    <tr><td><div class="lash">
        {% for message in form.password.errors %}
        {{ message }}
        {% endfor %}
    </div></td></tr>
    <tr><td>{{form.submit}} <p>Don&#39;t have an account? <a href="{{url_for('register')}}">Register Here.</a></p></td></tr>
  </form>
  </table>
</div>
<!--</div>-->
{% endblock %}
