{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div class="prof">
  <h1>Sign In Here</h1>
  <p>Enter details below:</p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info alert-dismissable">
            {{message}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <hr />
  <table>
  <form action="{{ url_for('signin') }}" method="post">
    {{ form.hidden_tag() }}
    <tr><td>Email:</td> <td>{{ form.email(placeholder="Enter Email") }}</td>
    <td><div class="flash">
        {% for message in form.email.errors %}
        {{ message }}
        {% endfor %}
    </div></td></tr>
    
    <tr><td>Password: </td><td>{{ form.password(placeholder="Enter Password") }}</td>
    <td><div class="flash">
        {% for message in form.password.errors %}
        {{ message }}
        {% endfor %}
    </div></td></tr>
    <tr><td>{{form.submit}}</td><td colspan="2"><a href="{{url_for('register')}}">Don&#39;t have an account? Register Here.</a></td></tr>
  </form>
  </table>
</div>
{% endblock %}
