{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
  <div class="body">
  <div class="cont">
  <div class="head">
    <img src="{{ user['image'] }}" height="200" width="200">
    <div class="profile_name">
      <h1>{{user['fname']}}  {{user['lname']}} <span><a id="exit" class="button" href="{{ url_for('signout') }}">Sign Out</a></span></h1>
    </div>
  </div>
  <div class="p_datebox content">
    <p>Profile added on: {{ datestr }}</p>
  </div>
  <div class="p_content content">
    <p>
      Email: {{user['email']}}<br />
      Sex: {{user['sex']}}<br />
      Age: {{user['age']}}<br />
    </p>
    </div>
    <div class="p_content wishlist">
    <h1>{{user['fname']}}'s Wishlist</h1>
    <form action="{{ url_for('addWish') }}" method="post">
      {{ form.hidden_tag() }}
        <tr><td>Web Address:</td> <td>{{ form.url(placeholder="Enter Web Address Here") }}</td>
        <td><div class="flash">
        {% for message in form.url.errors %}
        {{ message }}
        {% endfor %}
        </div></td></tr>
        <tr><td colspan="3"><div id="imgBtn"><input type="image" src="https://www.aucklandairport.co.nz/~/media/Images/Retail/wishlist-button.png" alt="submit" style="height:24px;"/></div></td></tr>
      </form>
      <hr style="width:95%"/>
      </table>
      <div id="wishes">
        <table style="width:95%">
          {% for wish in wishes %}
            <tr><td><a href="{{wish['origin']}}" target="_blank"><img src="{{wish['url']}}" height="100" width="100"></a></td><td><p><strong>Title:</strong>{{wish['title']}}</p><p><strong>Description:</strong>{{wish['description']}}</p></td></tr>
            <tr><td colspan="3"><hr /></td></tr>
          {% endfor %}
      </table>
      <!--{% for wish in wishes %}-->
      <!--<div class="wish first">{{wish['id']}}</div>-->
      <!--<div class="wish sec"><img src="{{wish['url']}}" height="100" width="100"></div>-->
      <!--<div class="wish thd">-->
      <!--  <p><strong>Title:</strong>{{wish['title']}}</p>-->
      <!--  <p><strong>Description:</strong>{{wish['description']}}</p>-->
      <!--</div>-->
      <!--{% endfor %}-->
      </div>
    </div>
    <div>&nbsp;</div>
    </div>
  </div>
{% endblock %}
