{% extends "base.html" %}


{% block js %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '261930147473251',
      xfbml      : true,
      version    : 'v2.6'
    });
   
  };
   
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=261930147473251";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
  
</script>
{% endblock %}


{% block main %}
  <div id="fb-root"></div>
  <div class="body">
  <div class="cont">
  <div class="head">
    <img src="{{ user['image'] }}" height="200" width="200" style="-webkit-border-top-left-radius: 10px;
      -moz-border-radius-topleft: 10px;
      border-top-left-radius: 10px;">
    <div class="profile_name">
      <h1>{{user['fname']}}  {{user['lname']}} <span><a id="exit" class="button" href="{{ url_for('signout') }}">Sign Out</a></span></h1>
    </div>
  </div>
  <div class="p_datebox content">
    <p>Profile added on: {{ datestr }}</p>
  </div>
  <div class="p_content content">
    <p>
      Email: {{user['email']}}<br />
      Sex: {{user['sex']}}<br />
      Age: {{user['age']}}<br />
    </p>
    </div>
    <div class="p_content wishlist">
    <h1>{{user['fname']}}'s Wishlist</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info alert-dismissable" style="width:98%;">
          <a class="close" href="#">×</a>
            {{message}}
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('addWish') }}" method="post">
      {{ form.hidden_tag() }}
      <table style="width:98%;">
        <tr><td style="width:11%;">Web Address:</td><td>{{ form.url(placeholder="Enter Web Address Here", class_="form-control") }}</td><td>Please use this field to add items to your wishlist. If you want to delete a wish, click the checkbox next to it.</td></tr>
        {% if form.url.errors|length != 0 %}
        <tr><td colspan="3"><div class="flash">
        {% for message in form.url.errors %}
        {{ message }}
        {% endfor %}
        </div></td></tr>
        {% endif %}
        <tr><td colspan="3"><div class="imgBtn"><input type="image" src="/static/add-to-wishlist.jpg" alt="submit" style="height:24px;"/></div></td></tr>
      </table>
      </form>
      {% if form.url.errors|length == 0 and error != "User has no wishes" %}
        <div
        class="fb-like"
        data-share="true"
        data-width="250"
        data-show-faces="true" style="float:left; margin:10px 10px;">
      </div>
      <div style="float:left; margin 10px 10px;"> <a class="flash" href="mailto:name1@mail.com?subject=Hey!%20Checkout%20my%20wishlist!&amp;body=Hey%20Friend%3A%0A%0Acheck%20out%20my%20wishlist%20at%20the%20following%20address%3A%0Ahttp%3A%2F%2Finfo3180-project4-marklandp.c9users.io%3A8080%2Fapi%2Fuser%2F{{(user['id'])}}%2Fwishlist.%20Please%20help%20me%20to%20get%20some%20of%20these%20things%20off%20my%20list!%0A%20%0AThank%20you!">Share wishlist</a> </div>
      <!--<div class="fb-share-button" data-href="{{share['url']}}" data-layout="button_count" data-mobile-iframe="false"></div>-->
     <hr style="width:95%; clear:left;"/>
     {% endif %}
      <div id="wishes">
        {% if error %}
          <h1>{{error}}</h1>
        {% endif %}
        <table style="width:95%">
          {% for wish in wishes %}
            <tr><td><a href="{{wish['url']}}" target="_blank"><img src="{{wish['thumbnail']}}" height="100" width="100"></a></td><td><p><strong>Title:</strong>{{wish['title']}}</p><p><strong>Description:</strong>{{wish['description']}}</p></td><td><input class="entry" type="checkbox" name="wish" value="{{wish['id']}}"></td></tr>
            <tr><td colspan="3"><hr /></td></tr>
          {% endfor %}
      </table>
      </div>
    </div>
    <div>&nbsp;</div>
    </div>
  </div>
{% endblock %}
