{% extends "base.html" %}


{% block js %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '261930147473251',
      xfbml      : true,
      version    : 'v2.6'
    });
   
  };
   
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=261930147473251";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
  
</script>
{% endblock %}


{% block main %}
  <div id="fb-root"></div>
  <div class="body">
  <div class="cont">
  <div class="head">
    <img src="{{ user['image'] }}" height="200" width="200" style="-webkit-border-top-left-radius: 10px;
      -moz-border-radius-topleft: 10px;
      border-top-left-radius: 10px;">
    <div class="profile_name">
      <h1>{{user['fname']}}  {{user['lname']}}'s Wishlist</h1>
    </div>
  </div>
  <div class="p_content content" style="margin-bottom:40px;">
    <p>
      Please help me to clear some items off my wishlist. Any and all help is welcomed and appreciated!
    </p>
    </div>
    <div class="p_content wishlist">
      {% if error != "User has no wishes" %}
      <div
        class="fb-like"
        data-share="true"
        data-width="250"
        data-show-faces="true" style="float:left; margin:10px 10px;">
      </div>
      
      <!--<div class="fb-share-button" data-href="{{share['url']}}" data-layout="button_count" data-mobile-iframe="false"></div>-->
<!--      <a href="javascript: void(0);" onClick="FB.ui({-->
<!--  method: 'share',-->
<!--  href: '{{share['url']}}',-->
<!--}, function(response){});">share</a>-->
     <hr style="width:95%; clear:left;"/>
      {% endif %}
      <div id="wishes">
        {% if error %}
          <h1>{{error}}</h1>
        {% endif %}
        <table style="width:95%">
          {% for wish in wishes %}
            <tr><td><a href="{{wish['url']}}" target="_blank"><img src="{{wish['thumbnail']}}" height="100" width="100"></a></td><td><p><strong>Title:</strong>{{wish['title']}}</p><p><strong>Description:</strong>{{wish['description']}}</p></td></tr>
            <tr><td colspan="3"><hr /></td></tr>
          {% endfor %}
      </table>
      </div>
    </div>
    <div>&nbsp;</div>
    </div>
  </div>
{% endblock %}
